.button-check-answer,
.button-next-question,
.button-finish-quiz,
.button-try-again {
  background-color: #fac164;
  font-size: 24px;
  color: #213743;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.button-check-answer:hover {
  background-color: #f69d0f;
  padding: 10px;
}
