/* Wyśrodkowanie treści na stronie */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('/Users/alicjaziewiec/Desktop/Repos/ai_quiz/public/ai_background.png');
  background-size: cover; /* Dopasowanie obrazka do rozmiaru ekranu */
  background-repeat: no-repeat; /* Wyłączenie powtarzania obrazka */
  background-attachment: fixed; /* Stałe tło, które nie przewija się z treścią strony */
}

/* Nagłówek strony */
.header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #E8FDFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Napis "QUIZ" */
.quiz-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #E8FDFF;
}

/* Pytanie */
.question {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
  color: #213743;
}

/* Style dla odpowiedzi */
.answer-list {
  list-style-type: none;
  padding: 0;
}

.answer-list-item {
  font-size: 20px;
  margin-top: 10px;
}

/* Kontener pytania i odpowiedzi */
.question-container {
  background-color: rgba(255, 255, 255, 0.6); /* Białe tło z przeźroczystością */
  padding: 20px; /* Margines 20 pikseli */
  border-radius: 10px; /* Zaokrąglenie rogów */
}

.answer-label {
  display: flex;
  align-items: center; /* Wyśrodkowanie elementów w pionie */
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.answer-rectangle {
  flex: 1; /* Rozciągnięcie prostokąta, aby zająć dostępną przestrzeń */
  background-color: #213743;
  color: #E8FDFF;
  padding: 10px;
  border-radius: 10px;
}

.answer-rectangle:hover {
  background-color: #306E84
}

.answer-rectangle.selected {
  background-color: #4EABC8
}

.answer-rectangle.correct {
  background-color: #4caf50; /* Zielony kolor */
}

.answer-rectangle.incorrect {
  background-color: #f44336; /* Czerwony kolor */
}

.button-check-answer {
  font-size: 24px;
  margin-top: 20px;
  background-color: #FAC164;
  color: #213743;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  font-weight: bold;
}

.button-check-answer:hover {
  background-color: #f69d0f;
}

.score {
  text-align: center;
  margin-top: 90px;
  color: #E8FDFF;
  font-size: 24px;
  font-weight: bold;
}

